#bc{
  height: 100%;
  width: 100%;
}
body{
  background: #e9ebee!important;
}
#bar{
  width: 100%;
  height: 48px;
  background-color: magenta!important;
  position: fixed;
  z-index: 999;
}

#social{
  width: 395px;
  min-height: 600px;
  background-color: #33b5e5;
  display: block;
  float: left;
  position: fixed;
  margin-top: 48px;
}
#feed{
  width: 550px;
  min-height: 600px;
  background-color: #33b5e5;
  float: left;
  margin:48px 5px 0px 400px;
  display: block;
}
#sms{
  width: 395px;
  min-height: 600px;
  background-color: #33b5e5;
  float: right;
  clear: right;
  display: block;
  position: fixed;
  margin: 48px 0px 0px 956px;
}
